@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;  
}

body{
    font-family:'Raleway', sans-serif;
    overflow-x:hidden;
}

/*SECÇÃO MENU*/

/*HEADER/LOGO*/
.main-menu{
    display:flex;
    align-items:center;
    background-color:rgba(22, 36, 55, 0.6);
    padding:20px 2px 20px;
    position:fixed;
    z-index:12;
    box-shadow:2px 3px 9px rgba(0, 0, 0, 0.3);
    justify-content:space-between;
    width:100%;
    height:auto;
}

.main-menu img{
    margin-left:30px;
    width:130px;
}

/*MENU*/
.main-menu a{
    color:rgba(255, 255, 255, 1);
    text-decoration:none;
    font-size:20px;
    font-weight:600;
}

.main-menu img{
    margin-left:40px;
    width:200px;
    z-index:1;
}

#menu-txt a{
    margin:0px 35px 0;
    font-size:17px;
    color:rgba(255, 255, 255, 1);
    font-weight:400;
    text-decoration:none;
}

#menu-txt a:hover {
    color:rgba(238, 130, 130, 1);
    transform:scale(1.3);
}

/*INTRO*/
#intro{
    padding-top:140px;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
    padding-bottom:150px;
    background-image:url(../img/social_media.jpg);
    background-size:cover;
    background-position:cover;
    background-repeat:no-repeat;
}

#slogan1{
    font-weight:400;
    font-size:50px;
    color:rgba(255, 255, 255, 1);
    text-align:center;
    width:40rem;
}

#slogan2{
    font-weight:400;
    font-size:50px;
    color:rgba(255, 255, 255, 1);
    text-align:center;
    width:40rem;
}

#description{
    font-size:20px;
    color:rgba(255, 255, 255, 1);
    margin-top:40px;
    margin-bottom:30px;
    text-align:center;
    width:40rem;
    font-weight:300;
}

#intro p{
    padding-top:23px;
}

#intro a{
    text-decoration:none;
    font-size:25px;
    font-weight:400;
    color:rgba(255, 255, 255, 1);
}

#intro a:hover{
    color:rgba(238, 130, 130, 1);
}

/*SECTION 1*/

#section1{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:150px;
    padding-bottom:80px;
}

#section1-title{
    font-weight:400;
    font-size:55px;
    color:rgba(238, 130, 130, 1);;
    margin-bottom:30px;
    text-align:center;
    margin-bottom:65px;
}

#section1-text{
    font-size:34px;
    color:rgba(15, 48, 85, 0.7);
    margin-bottom:30px;
    text-align:center;
    width:40rem;
    font-weight:300;
    margin-bottom:40px;
}

#section1-statement{
    font-size:25px;
    color:rgba(15, 48, 85, 0.7);
    margin-bottom:30px;
    text-align:center;
    width:40rem;
    font-weight:300;
    padding-bottom:130px;
}

/*SECTION 2*/

#section2{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-bottom:70px;
    
}

#section2 h1{
    font-weight:400;
    font-size:45px;
    color:rgba(238, 130, 130, 1);
    margin-bottom:30px;
    text-align:center;
    margin-bottom:75px;
}

#section2 h2{
    color:rgba(255, 255, 255, 1);
    font-weight:400;
    font-size:25px;
    text-align:center;
    margin-bottom:100px;
}

/*CARROSEL*/
.pictures{
    position:relative;
    text-align:center;
}

.drag-carousel{
    position:absolute;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    max-width:1200px;
    position:relative;
}

.drag-carousel .pictures{
    white-space:nowrap;
    cursor:pointer;
    overflow:hidden;
    scroll-behavior:smooth;
}

.drag-carousel i{
    color:rgba(238, 130, 130, 1);
    height:50px;
    width:50px;
    cursor:pointer;
    border-radius:50%;
    line-height:50px;
}

.drag-carousel i:first-child{
    left:-23px;
    display:none;
}

.drag-carousel i:last-child{
    right:-23px;
}

.pic-txt1{
    position:absolute;
    bottom:-70px;
    left:16px;
}

.pic-txt2{
    position:absolute;
    bottom:-70px;
    left:424px;
}

.pic-txt3{
    position:absolute;
    bottom:-70px;
    left:833px;
}

.pic-txt4{
    position:absolute;
    bottom:-70px;
    left:1223px;
}

.pic-txt5{
    position:absolute;
    bottom:-70px;
    left:1620px;
}

.pictures img{
    height:250px;
    width:calc(100% / 3);
    object-fit:cover;
    margin-left:17px;
    border-radius:10px;
    color:rgba(255, 255, 255, 0.6);
    top:0;
    bottom:0;
	transform:scale(1);
	transition:.3s ease-in-out;
    border:4px solid rgba(238, 130, 130, 1);
}

.pictures img:hover{
    transform:scale(1.3);
    border:4px solid white;
}

.pictures img:first-child{
    margin-left:0px;
}

/*SECTION 2 MODAL*/
.drag-carousel .section2-popup{
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.7);
    height:100%;
    width:100%;
    z-index:100;
    display:none;
}

.drag-carousel .section2-popup span{
    position:absolute;
    top:0;
    right:10px;
    font-size:55px;
    font-weight:bold;
    color:rgba(255, 255, 255, 1);
    cursor:pointer;
    z-index:100;
}

.drag-carousel .section2-popup span:hover{
    color:rgba(238, 130, 130, 1);
}

.drag-carousel .section2-popup img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:4px solid rgba(238, 130, 130, 1);
    border-radius:15px;
    width:750px;
    height:450px;
    object-fit:cover;
}

.section2-popup img{
    width:50%;
}

/*SECTION 3*/
#section3{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-bottom:30px;
    padding:20px;
}

#section3 h1{
    padding-bottom:80px;
    font-weight:400;
    font-size:45px;
    color:rgba(238, 130, 130, 1);
    margin-bottom:30px;
    text-align:center;
    margin-bottom:75px;
}

#section3-container{
    width:65%;
}

#section3 p{
    color:rgba(15, 48, 85, 0.7);
    width:65%;
    float:left;
    font-size:25px;
    text-align:justify;
}

#section3 img{
    width:420px;
    float:left;
    margin-left:40px;
    margin-top:-30px;
    border-radius:15px;
    border:4px solid rgba(238, 130, 130, 1);
}

/*SECTION 3B*/
#section3b{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-left:20px;
    padding-bottom:-70px;
}

#section3b p{
    color:rgba(15, 48, 85, 0.7);
    width:65%;
    float:left;
    font-size:25px;
    text-align:justify;
}

#section3b img{
    width:420px;
    float:left;
    margin-left:40px;
    margin-top:-30px;
    border-radius:15px;
    border:4px solid rgba(238, 130, 130, 1);
}

/*SECTION 3C*/
#section3c{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-bottom:70px;
    padding-left:20px;
}

#section3c p{
    color:rgba(15, 48, 85, 0.7);
    width:65%;
    float:left;
    font-size:25px;
    text-align:justify;
}

#section3c img{
    width:420px;
    float:left;
    margin-left:40px;
    margin-top:-30px;
    border-radius:15px;
    border:4px solid rgba(238, 130, 130, 1);
}

/*SECTION 4*/
#section4{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-bottom:150px;
}

#section4 h1{
    font-weight:400;
    font-size:45px;
    color:rgba(15, 48, 85, 0.7);
    margin-bottom:30px;
    text-align:center;
    margin-bottom:75px;
}

/*BTN SECTION 4 TO SECTION 5*/

#btn1{
    visibility:hidden;
    position:absolute;
}

.arrow-down::after {
    content:"";
    width:40px;
    height:40px;
    position:absolute;
    margin:auto;
    margin-bottom:-4050px;
    top:40rem;
    right:0;
    bottom:0;
    left:0;
    border-right:4px solid rgba(238, 130, 130, 1);
    border-bottom:4px solid rgba(238, 130, 130, 1);
    transform:rotate(45deg);
    cursor:pointer;
}

/*SECTION 5*/
#section5{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-bottom:150px;
}

#section5 h1{
    font-weight:400;
    font-size:30px;
    color:rgba(15, 48, 85, 0.7);
    margin-bottom:30px;
    text-align:center;
    margin-bottom:75px;
}

/*SECTION 6*/

#section6{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-items:center;
    margin-top:200px;
    padding-bottom:150px;
}

.section6-all{
    margin-left:300px;
}

.section6-all h1{
    font-weight:400;
    font-size:45px;
    color:rgba(238, 130, 130, 1);
    text-align:center;
    padding-bottom:75px;
}

.section6-container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-items:center;
    margin-left:50px;
    margin-bottom:30px;
}

/*FLIP CARD*/

 .section6-card{
    background-color:transparent;
    width:350px;
    height:350px;
    border:1px solid transparent;
    box-shadow:0 0 5px 3px rgba(0, 0, 0, 0.3);
    border-radius:15px;
    perspective: 1000px; /*EFEITO 3D */
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-items:center;
    margin-right:60px;
  }
  
.section6-inner{
    position:relative;
    width:100%;
    height:100%;
    text-align:center;
    transition:transform 1.2s;
    transform-style:preserve-3d;
}

/*MOSTRAR PARTE DE TRÁS DO CARD QUANDO SE FAZ HOVER*/
.section6-card:hover .section6-inner{
    transform:rotateY(180deg);
}
  
.section6-front, .section6-back{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
}
  
.section6-front{
    background-color:rgba(238, 130, 130, 1);
    border-radius:15px;
    border:3.5px solid rgba(238, 130, 130, 1);
}

.section6-front img{
    height:341px;
    width:341px;
    border-radius:15px;
}
  
.section6-back {
    background-color:rgb(255, 255, 255, 1);
    transform: rotateY(180deg);
    border-radius:15px;
    width:100%;
    height:100%;
    border:4px solid rgba(238, 130, 130, 1);
}

.section6-back h1{
    font-size:35px;
    height:100%;
    width:100%;
    margin-top:130px;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-items:center;
    font-weight:500;
    color:rgba(238, 130, 130, 1);
} 

/*FOOTER*/

.footer{
    margin-top:150px;
    padding-top:50px;
    padding-bottom:50px;
    background-color:rgba(22, 36, 55, 0.6);
}

.footer p{
    text-align:center;
    color:rgba(255, 255, 255, 1);
}
